@import "tailwindcss";

@theme {
  --color-black-base: #0F0F0F;
  --color-pubtech-blue: #3A78F1;
  --color-deep-blue: #2249D3;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-32: 2rem;
  --text-40: 2.5rem;
  --text-64: 4rem;
}

body {
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  color: var(--color-black-base);
}
